<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>ecal.dev</title>
    <meta name="description" content="Ethan Callanan's (ecal) website." />

    <!-- prettier-ignore -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', path='favicon/apple-touch-icon.png') }}" />
    <!-- prettier-ignore -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='favicon/favicon-32x32.png') }}" />
    <!-- prettier-ignore -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='favicon/favicon-16x16.png') }}" />
    <!-- prettier-ignore -->
    <link rel="manifest" href="{{ url_for('static', path='favicon/site.webmanifest') }}" />
    <script src="{{ url_for('static', path='js/htmx.min.js') }}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- prettier-ignore -->
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- prettier-ignore -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- prettier-ignore -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/welcome.css') }}" type="text/css" />
    <!-- prettier-ignore -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/header.css') }}" type="text/css" />
    <!-- prettier-ignore -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/footer.css') }}" type="text/css" />
    <!-- prettier-ignore -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}" type="text/css" />

    <script>
      window.addEventListener("resize", function () {
        window.scrollTo(0, 0);
      });
      window.addEventListener("DOMContentLoaded", function () {
        var hasVisited = document.getElementById("hasVisited").value;
        if (hasVisited === "false") {
          document.getElementById("welcome").style.display = "flex";
        }
      });
      document.addEventListener("click", function (event) {
        var target = event.target;
        if (target.tagName === "A" && !target.hasAttribute("target")) {
          target.setAttribute("target", "_blank");
        }
      });
    </script>
  </head>
  <body>
    {% block welcome %} {% include "welcome.html" %} {% endblock %}

    <div id="bg">
      <img src="static/images/particle_sphere.gif">
    </div>

    <div id="fg">
      <!-- prettier-ignore -->
      {% block header %} {% include "header.html" %} {% endblock %}
      <div id="content">{% block content %} {% endblock %}</div>
      {% block footer %} {% include "footer.html" %} {% endblock %}
    </div>
  </body>
</html>
