<div id="menu">
  <h1
    class="title"
    hx-get="/home-reset"
    hx-target="#content"
    hx-swap="innerHTML"
  >
    <span class="part1">E</span><span class="expand1">than&nbsp</span>
    <span class="part2">Cal</span><span class="expand2">lanan</span>
  </h1>

  <div class="menu">
    <!-- <a hx-get="/home" hx-target="#content" hx-swap="innerHTML">Home</a> -->
    <a hx-get="/about" hx-target="#content" hx-swap="innerHTML">about</a>
    <a hx-get="/projects" hx-target="#content" hx-swap="innerHTML">projects</a>
    <a hx-get="/thoughts" hx-target="#content" hx-swap="innerHTML">thoughts</a>
    <!-- <a href="https://e-cal.github.io">blog</a> -->
    <!-- <a hx-get="/contact" hx-target="#content" hx-swap="innerHTML">Contact</a> -->
  </div>
</div>
