<div id="menu">
  <h1 class="title" hx-get="/home-reset" hx-target="#content" hx-swap="innerHTML">
    <span class="part1">E</span><span class="expand1">than&nbsp</span>
    <span class="part2">Cal</span><span class="expand2">lanan</span>
  </h1>

  <div class="menu">
    <!-- prettier-ignore -->
    <!-- <a hx-get="/home" hx-target="#content" hx-swap="innerHTML">Home</a> -->
    <!-- prettier-ignore -->
    <a hx-get="/about" hx-target="#content" hx-swap="innerHTML">about</a>
    <!-- prettier-ignore -->
    <a hx-get="/projects" hx-target="#content" hx-swap="innerHTML">projects</a>
    <!-- prettier-ignore -->
    <a hx-get="/thoughts" hx-target="#content" hx-swap="innerHTML">thoughts</a>
    <!-- prettier-ignore -->
    <!-- <a hx-get="/contact" hx-target="#content" hx-swap="innerHTML">Contact</a> -->
    <a href="https://www.youtube.com/watch?v=iL6G83HaczU&list=PLy24QOS61umxYzSp59mtxmnWMrmFCYlrH">vibe</a>
  </div>
</div>
