<h1>Projects</h1>
<!-- brain-computer interface -->
<!-- macq -->
<!-- neural networks from scratch -->
<!-- praxis interface -->
<!-- dotfiles -->
<!-- tmux session manager -->
<!-- attention detection -->
<!-- evim -->
<!-- locm -->
<!-- rypm web app -->
<!-- bauhaus -->
<!-- ecal.dev -->


<div id="projects">
  <div class="card">
    <div
      class="details"
      hx-trigger="load"
      hx-target="this"
      hx-swap="innerHTML"
      hx-get="/projects/praxis"
    ></div>
  </div>
  <div class="card">
    <div
      class="details"
      hx-trigger="load"
      hx-target="this"
      hx-swap="innerHTML"
      hx-get="/projects/bci"
    ></div>
  </div>
  <div class="card">
    <div
      class="details"
      hx-trigger="load"
      hx-target="this"
      hx-swap="innerHTML"
      hx-get="/projects/macq"
    ></div>
  </div>
  <div class="card">
    <div
      class="details"
      hx-trigger="load"
      hx-target="this"
      hx-swap="innerHTML"
      hx-get="/projects/nnfs"
    ></div>
  </div>
</div>
