<h1>Projects</h1>
<!-- <ul> -->
<!--   <li>brain-computer interface</li> -->
<!--   <li>macq</li> -->
<!--   <li>neural networks from scratch</li> -->
<!--   <li>praxis interface</li> -->
<!--   <li>dotfiles</li> -->
<!--   <li>tmux session manager</li> -->
<!--   <li>attention detection</li> -->
<!--   <li>evim</li> -->
<!--   <li>locm</li> -->
<!--   <li>rypm web app</li> -->
<!--   <li>bauhaus</li> -->
<!--   <li>ecal.dev</li> -->
<!-- </ul> -->

<div id="projects">
  <div class="card">
    <div
      class="details"
      hx-trigger="load"
      hx-target="this"
      hx-swap="innerHTML"
      hx-get="/projects/praxis"
    ></div>
  </div>
  <div class="card">
    <div
      class="details"
      hx-trigger="load"
      hx-target="this"
      hx-swap="innerHTML"
      hx-get="/projects/bci"
    ></div>
  </div>
  <div class="card">
    <div
      class="details"
      hx-trigger="load"
      hx-target="this"
      hx-swap="innerHTML"
      hx-get="/projects/macq"
    ></div>
  </div>
  <div class="card">
    <div
      class="details"
      hx-trigger="load"
      hx-target="this"
      hx-swap="innerHTML"
      hx-get="/projects/nnfs"
    ></div>
  </div>
</div>
