<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, viewport-fit=cover"
        />
        <title>{{ page_title }}</title>
        <meta name="description" content="{{ page_description }}" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="{{ url_for('static', path='favicon/apple-touch-icon.png') }}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="{{ url_for('static', path='favicon/favicon-32x32.png') }}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="{{ url_for('static', path='favicon/favicon-16x16.png') }}"
        />
        <link
            rel="manifest"
            href="{{ url_for('static', path='favicon/site.webmanifest') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', path='css/styles.css') }}"
            type="text/css"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', path='css/animations.css') }}"
            type="text/css"
        />
        <script src="{{ url_for('static', path='js/htmx.min.js') }}"></script>
    </head>
    <script src="{{ url_for('static', path='js/pixi.min.js') }}"></script>
    <body class="text-fg selection:bg-surface0">
        <div
            id="welcome"
            hx-get="/welcome-close"
            hx-trigger="load delay:3s"
            hx-swap="outerHTML swap:1s"
            class="text-overlay0 text-xl htmx-swapping:opacity-0 transition-opacity duration-1000 bg-bg z-50 flex flex-col w-screen h-screen absolute top-0 left-0 text-center justify-center items-center"
        >
            <div class="flex text-center w-full justify-center" >
                <div class="font-bold text-overlay1">e</div>
                <div class="reveal overflow-hidden">than&nbsp;</div>
                <div class="font-bold text-overlay1">cal</div>
                <div class="reveal">lanan</div>
            </div>
            <div
                hx-get="/welcome-portfolio"
                hx-trigger="load delay:1.2s"
                hx-swap="outerHTML settle:0.5s"
            >
                &nbsp;
            </div>
        </div>
        <div id="bg" class="h-full">
            <script src="{{ url_for('static', path='js/bg.js') }}"></script>

            <div id="content" class="p-4 absolute top-0 left-0 bg-trans pointer-events-none">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
