:root {
  --fg: #ffffff;
  --bg: #000000;
  --hl: #495063;
  --active: #5b647d;
}

html,
body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: monospace;
  font-size: 14px;
  overflow: hidden;
}

::selection {
  background-color: var(--hl);
}

#bg {
  position: absolute;
  /* top: 10px; */
  /* left: 15%; */
  top: -10px;
  left: -50px;
  z-index: 0;

  video {
    object-fit: cover;
  }
}

#fg {
  position: relative;
  z-index: 10;
  width: calc(100% - 20px); /* Adjust width to account for margins */
  height: 100vh;
  margin: 10px;

  display: flex;
  flex-direction: row;
  gap: 15em;

  /* background-color: rgba(0, 0, 0, 0.5); */

  #content {
    width: 100%;
    flex: 1;
    overflow-y: auto;
    padding-bottom: 50px;
  }

  #header {
    width: fit-content;
    white-space: nowrap;

    .menu {
      /* pointer-events: auto; */
      margin-top: 6px;
      display: flex;
      flex-direction: column;
    }
    .menu a {
      display: inline-block;
      color: var(--fg);
      text-decoration: underline;
      width: fit-content;
      padding: 5px;
      transition:
        background-color 0.3s,
        color 0.3s;
    }

    .menu a:hover {
      color: var(--active);
      border-radius: 5px;
    }
  }
}

/* When the screen is small, switch to column flex layout*/
@media only screen and (max-width: 800px) {
  #fg {
    flex-direction: column;
    gap: 20em;
  }
}

#projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  /* background-color: rbga(255, 255, 255, 0.9); */

  .card {
    background-color: rbga(255, 255, 255, 0.9);
    padding: 0px 20px 0px 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    max-width: 350px;

    img {
      max-width: 100%;
    }
  }

  .title {
    /* font-size: 20px; */
    /* font-weight: bold; */
    /* margin-bottom: 10px; */
  }

  .details {
    /* font-size: 16px; */
    /* line-height: 1.5; */
  }
}
