@import "src/styles/reset";
@import "src/styles/lib";

.anchor {
    padding-top: 60px;
}

.textLink {
    color: $accent-2;
}

.btn {
    @extend h6;
    color: $accent-2;
    padding: 0.9em 1.4em;
    background: $accent-4;
    letter-spacing: 0.06em;
    border-radius: 5px;
    font-weight: 500;
    transition: all 0.2s;
    color: white;
    cursor: pointer;

    &:visited {
        color: #fff;
        background: $accent-4;
    }

    &focus,
    &:hover {
        -webkit-text-fill-color: #fff;
        color: #fff;
        background: $accent-3;
        // border-color: $accent-2;
        text-decoration: none;
    }
}

.pill {
    @extend h6;
    background: $accent-4;
    color: #fff;
    margin-bottom: 0.6em;
    padding: 0.6em 0.9em;
    display: inline-block;
    font-size: $font-size-xsmall;
    line-height: 1em;
    border-radius: 2px;
    & + .pill {
        margin-left: 0.6em;
    }
}

.neumorphic {
    button {
        @apply bg-grey-darker;
        @apply px-m;
        @apply py-xs;

        border-radius: 16px;
        box-shadow: 3px 3px 4px #131517, -3px -3px 2px #2f353b;
    }
    button:active {
        outline: none;
        box-shadow: inset 3px 3px 4px #131517, inset -3px -3px 2px #2f353b;
    }
    button:focus {
        outline: none;
    }

    button:hover {
        cursor: pointer;
    }
}
